# PYTHON DATATYPES

In [1]:
string_eg = 'Bala'   # String datatype

In [ ]:
type(string_eg)

str

BASIC TYPES

In [2]:
a = 3       # Integer
b = 3.5     # Float
c = True    # Boolean
d = 'raja'  # String

COLLECTION TYPES

In [3]:
list_eg = [1,'bala',1.2,True]  # List with different datatypes
print(list_eg)

[1, 'bala', 1.2, True]

In [4]:
list_eg[0]=2   # Replace the 1st element with the value 2.

In [5]:
print(list_eg)    # Printing the final list

[2, 'bala', 1.2, True]

In [6]:
tuple_eg = (1,'bala',1.2,True)  # Creating a tuple with diff datatypes
print(tuple_eg)

(1, 'bala', 1.2, True)

In [7]:
tuple_eg[0]= 2    # Trying to replace the value, but tuple is immutable. Gives error

TypeError: 'tuple' object does not support item assignment

In [8]:
set_eg = {True, 5, 2.1, 10, 'bala'}   # Creating a set with diff datatypes
print(set_eg)

{True, 2.1, 'bala', 5, 10}

In [9]:
set_eg1 = {1, 2, 3, 4, 4, 2, 3}      # It is Unordered and unique values
print(set_eg1)

{1, 2, 3, 4}

In [10]:
set_2 = {True, 1, 5, 6, 'bala',5}    # No duplicates
print(set_2)

{True, 'bala', 5, 6}

In [11]:
True==1      # Checking the condition

True

In [13]:
# Creating a dcitionary with key values paires

dict_eg = {
    'name': 'bala',
    'age': 25
}

In [14]:
dict_eg

{'name': 'bala', 'age': 25}

In [15]:
dict_eg['age']    # Accessing the value with key

25

In [16]:
# List (ordered, mutable)

colors = ["red", "blue", "green"]

# Tuple (ordered, immutable)

coordinates = (10, 20)

# Set (unordered, unique)

unique_ids = {101, 102, 103}

# Dictionary (key-value pairs)

student = {"name": "Alice", "age": 21}

OPERATORS

- ARITHMATIC OPERATORS

In [18]:
x = 10

y = 5

In [19]:
x+y  # Addition

15

In [20]:
x-y   # Subtraction

5

In [21]:
x*y  # Multiplication

50

In [22]:
x/y  # Division

2.0

In [23]:
x**y  # Power

100000

In [24]:
x%y   # Modulus

0

- COMPARISION OPERATORS

Comparing the values using operators

In [ ]:
x>y

True

In [ ]:
x<y

False

In [ ]:
x==y

False

In [ ]:
x!=y

True

In [ ]:
x

10

In [ ]:
x>=y

True

- LOGICAL OPERATORS

Checking two or more conditions with and, or, not logical operators

In [ ]:
x >= 5

True

In [ ]:
y>=11

False

In [ ]:
(x >= 5) and (y>=11)

False

In [ ]:
(x >= 5) or (y>=11)

True

In [ ]:
not((x >= 5) or (y>=11))

False

- ASSIGNEMENT OPERATORS

Assigning the value to the variable

In [ ]:
a=1

In [ ]:
a

1

In [ ]:
a += 1

In [ ]:
a

2

In [ ]:
# a+=1---> a = a+1

- MEMBERSHIP AND IDENTITY OPERATORS

In [25]:
color = ['red','blue','green','orange']
color

['red', 'blue', 'green', 'orange']

In [26]:
'red' in color    # Checking the value inside the list using "in" operators

True

In [ ]:
'yellow' in color

False

In [ ]:
c = 10

In [27]:
c is 10    # checking with 'is' operators

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipython-input-228/691488799.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  c is 10    # checking with 'is' operators

False

### TYPE CHECKING

Checking the datatype of a variable

In [ ]:
type(x)

int

In [ ]:
type(color)

list